.border-parrafo {
    border: 1px solid red;
    padding: 30px
}

.contenedor1 {
    text-align: left;




}

.p {
    display: inline-block;
    width: calc(50% - 6px);
    text-align: left;
    border: 2px solid red;




}

.borderradius {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid blue;
    background-color: blue;
    color: white;
    text-align: center;




}

.hola {
    position: relative;
    top: 35px;
}




/*.hola{
     
   position: relative;
    
}